<h1>Airport</h1>
<section class="container">
  <div class="road">
    <div class="leg leg-9">
      9
      <div class="flights flights-9"></div>
    </div>
    <div style="display: flex" class="">
      <div  class="leg leg-4">
        4
        <div class="flights flights-4"></div>
      </div>
      <div>
        <div class="leg leg-5">
          5
          <div class="flights flights-5"></div>
        </div>
        <div class="leg leg-8">
          8
          <div class="flights flights-8"></div>
        </div>
      </div>
      <div>
        <div class="leg leg-6">
          6
          <div class="flights flights-6"></div>
        </div>
        <div class="leg leg-7">
          7
          <div class="flights flights-7"></div>
        </div>
      </div>
    </div>
    <div class="leg leg-3">
      3
      <div class="flights flights-3"></div>
    </div>
    <div class="leg leg-2">
      2
      <div class="flights flights-2"></div>
    </div>
    <div class="leg leg-1">
      1
      <div class="flights flights-1"></div>
    </div>
  </div>
  <div class="flights-table table table-striped">
    <table>
      <thead>
        <tr>
          <th>Flight ID</th>
          <th>Current Leg ID</th>
          <th>Has Ended</th>
          <th>Status</th>
          <th>Contact time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights" [ngClass]="{ 'table-info': flight.hasEnded }">
          <td>{{ flight.id }}</td>
          <td>{{ flight.legs[flight.legs.length - 1] == -1 ? 'Ended' : flight.legs[flight.legs.length - 1] }}</td>
          <td>{{ flight.hasEnded ? 'Yes' : 'No' }}</td>
          <td>{{ flight.isLanding ? 'Landing' : 'Take-off' }}</td>
          <td>{{flight.contactTime}}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="StartSimulator()" [disabled]="isStarted">Start simulator</button>
    <button (click)="AddFlight()" [disabled]="!isStarted">Add Flight</button>
  </div>
</section>

