<p>signal-r works!</p>
<div class="road">
  <div class="leg leg-9">
    9
    <div class="flights flights-9"></div>
  </div>
  <div style="display: flex" class="">
    <div style="height: 200px" class="leg leg-4">
      4
      <div class="flights flights-4"></div>
    </div>
    <div>
      <div class="leg leg-5">
        5
        <div class="flights flights-5"></div>
      </div>
      <div class="leg leg-8">
        8
        <div class="flights flights-8"></div>
      </div>
    </div>
    <div>
      <div class="leg leg-6">
        6
        <div class="flights flights-6"></div>
      </div>
      <div class="leg leg-7">
        7
        <div class="flights flights-7"></div>
      </div>
    </div>
  </div>
  <div class="leg leg-3">
    3
    <div class="flights flights-3"></div>
  </div>
  <div class="leg leg-2">
    2
    <div class="flights flights-2"></div>
  </div>
  <div class="leg leg-1">
    1
    <div class="flights flights-1"></div>
  </div>
</div>
